h1 {
  font-size: 5vw;
  color: #ef476f;
  text-decoration: underline;
  text-align: center;
}

header p {
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#06d6a0;

}