h1 {
  font-size: 5vw;
  color: rgb(8, 52, 173);
  text-decoration: underline;
  text-align: center;
}

header p {
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(8, 52, 173)

}